@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: white;
  font-family: Inter, sans-serif;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

html,body{
  width:100%;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}